.vscode/**
.gitignore
.eslintrc.json
**/*.map
.git
.DS_Store
node_modules
out/test/**
src/**
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
src/**
test-api.js
PROJECT-SUMMARY.md
.vscode/
resources/
package-lock.json